body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px;
}

#sorteo {
  text-align: center;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sorteo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular {
  background-color: #ffc107;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

button {
  background-color: #28a745;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #218838;
}

/* Barra de progreso */
#barra-progreso {
  margin-top: 30px;
  width: 80%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin: 20px auto;
  position: relative;
}

#barra {
  height: 100%;
  background-color: #28a745;
  width: 0%;
  border-radius: 10px;
  transition: width 0.3s ease;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
