body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px;
}

#sorteos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.sorteo {
  background-color: white;
  width: 80%;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sorteo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular {
  background-color: #ffc107;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

button {
  background-color: #28a745;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #218838;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

